body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: system-ui , -apple-system , Roboto , Ubuntu , Helvetica Neue , sans-serif;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  padding: 0%;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.play-btn {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: monospace;
  height: 45px;
  left: 380px;
  padding-top: 1em;
  position: relative;
  top: 596px;
  width: 519px;
}

.name-input {
  align-items: flex-start;

  /* white */
  background: white;

  /* gray 300 */
  border: 1px solid #e1e5eb;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 10px;
  height: 45px;

  /* left: 380px; */

  /* position: absolute; */
  margin-top: 30px;
  text-align: center;
  width: 519px;
}

.email-input {
  align-items: flex-start;

  /* white */
  background: white;

  /* gray 300 */
  border: 1px solid #e1e5eb;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 10px;
  height: 45px;
  margin-top: 20px;
  text-align: center;
  width: 519px;
}

.name-input:focus, .email-input:focus {
  outline: 1px solid #2fc18c;
  outline-offset: 2px;
}

.settings-btn {
  background: #2fc18c;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.25);
  font-family: monospace;
  height: 40px;
  width: 100px;
}

